<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="4.0.0-alpha5" targetFramework="net472" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="4.0.0-alpha5" targetFramework="net472" />
  <package id="AutoClosingMessageBox" version="1.0.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>